body{
    
}

h1{
    text-align: center;
}
#banner{
    width: 100%;

}
.descripcion{
    background: #ccc;
}
p{
    text-align: center;
}

em strong{
    color: red;
}
#mision{
    font-size: 20px;
}
.Diferenciales{
    background: white;
}
h2{
    text-align: center;
}
.itms{
    font-style: italic;
}