.tituloPrincipal{
    padding-left: 30px;
}
#banner{
    width: 100%;

}
.descripcion{
    background: #ccc;
    padding: 20px;
}
.tituloCentral{
    text-align: center;
}
p{
    text-align: center;
}

em strong{
    color: red;
}
#mision{
    font-size: 20px;
}
.Diferenciales{
    background: white;
    padding: 30px;
}

.itms{
    font-style: italic;
}
ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagenDife{
width: 50%;
}